<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title, id: :post_title, class: 'form-control', placeholder: 'Post Title' %>
  </div>

  <div class="form-group">
    <%= form.select :topic, [['Front End Resources','front end resources'],['Back End Resources','back end resources'],['Misc Resources','mis resources'],['Ruby Resources','ruby resources'],['Rails Resources','rails resources'],['Job Resources','job resources'],['Job Postings','job posting']]%>
  </div>

  <div class="form-group">
    <%= form.text_area :body, id: :post_body, class: 'form-control', rows: 7, placeholder: '```language
Your Code Here
``` 
(Feel free to use markdown for code snippets  Default language set to Ruby)' %>
  </div>

  <div class="form-group">
    <%= form.text_area :images, id: :post_images, class: 'form-control', placeholder: 'image upload' %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
