<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.number_field :ranking, id: :post_ranking, class: 'form-control', placeholder: 'Post Ranking' %>
  </div>

  <div class="form-group">
    <%= form.text_field :topic, id: :post_topic, class: 'form-control', placeholder: 'Post Topic' %>
  </div>

  <div class="form-group">
    <%= form.text_area :body, id: :post_body, class: 'form-control', rows: 7, placeholder: 'Your Post
```language
    Your Code Here
``` 
(Feel free to use markdown for code snippets  Default language set to Ruby)' %>
  </div>

  <div class="form-group">
    <%= form.text_area :comment, id: :post_comment, class: 'form-control', rows: 7, placeholder: 'Your Comment
```language
    Your Code Here
``` 
(Feel free to use markdown for code snippets.  Default language set to Ruby)' %>
  </div>

  <div class="form-group">
    <%= form.text_area :images, id: :post_images, class: 'form-control', placeholder: 'image upload' %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
